html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vw;
}

.wrapper{
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, .3);
    border: 1px solid rgba(255, 255, 255, .34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, .1);
    color: #232323;
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
    width: 30vw;
}

.screen{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, .75);
    border: 1px solid rgba(255, 255, 255, .01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, .1);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;/* 
    width: 326px; */
}

.calc-button-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, .75);
    border: 1px solid rgba(255, 255, 255, .01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, .1);
    color: #232323;
    font-size: 35px;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}


.calc-button:last-child{
    color: #fff;
    background: #f93b26;
}

.calc-button:last-child:hover{
    background: inherit;
    color: inherit;
}

.calc-button:hover{
    background: inherit;
}

.calc-button:active, .calc-button:last-child:active{
    background: #f68a7e;
}

.double{
    flex-basis: 47%;
}

.triple{
    flex-basis: 73%;
}